@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tillana&display=swap');

/** resetear margen y padding */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    color: #375a41;
    text-shadow: 5px 5px 2px #93bb81;
}

h2{
    font-family: 'Tillana', cursive;
    font-size: 3.5rem;
    color: #375a41;
}

#developer{
    text-decoration: underline;
}

header{
    background-color: #E4F9F5;
    padding-top: 20px;
    position: relative;
}

#cloud-top{
    position: absolute;
    right: 250px;
    top: 50px;
}

#cloud-bottom{
    position: absolute;
    bottom: 300px;
    left: 200px;
}

main{
    margin: 100px 0;
}

/** parrafo del contenedor del perfil */
.paragrahp{
    width: 30%;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

.skills-row{
    width: 50%;
    margin: 100px auto;
    
}
.skills {
    margin-top: 8rem;
}
.developer-img{
    width: 30%;
    float: left;
}
.skill-paragraph{
    text-align: left;
    margin-top: 2rem;
    
}
.chillies-img{
   width: 25%;
   float: right;
}
.skills-row h3{
    text-align: left;
    color: #26bfca;
}
.contact h3 {
    text-align: center;
    color: #1ca4ad;
}
.contact .skill-paragraph{
    text-align: center;
    
}
.contact-button{
    margin-top: 3rem;
    padding: 5px 5px;
    background-color: #11c1c8;
    border-color: #11c1c8;
    color: white;
    border-radius: 3px;   
}

footer{
    background-color: #53d9e2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    padding: 10px;
}
.footer-enlace ul li a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
    color: #030303;      
}

.copy-footer{
    padding: 3rem;
    color: white;
}




