@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tillana&display=swap');

/** resetear margen y padding */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    color: #375a41;
    text-shadow: 5px 5px 2px #93bb81;
}

h2{
    font-family: 'Tillana', cursive;
    font-size: 3.5rem;
    color: #375a41;
}

#developer{
    text-decoration: underline;
}

header{
    background-color: #E4F9F5;
    padding-top: 20px;
    position: relative;
}

#cloud-top{
    position: absolute;
    right: 250px;
    top: 50px;
}

#cloud-bottom{
    position: absolute;
    bottom: 300px;
    left: 200px;
}

main{
    margin: 100px 0;
}

/** parrafo del contenedor del perfil */
.paragrahp{
    width: 30%;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

.skills-row{
    width: 50%;
    margin: 100px auto;  
}

.skills {
    margin-top: 8rem;
}

.developer-img{
    width: 30%;
    float: left;
}

.skill-paragraph{
    text-align: left;
    margin-top: 2rem;  
}

.chillies-img{
   width: 25%;
   float: right;
}

.skills-row h3{
    text-align: left;
    color: #26bfca;
}

.contact h3 {
    text-align: center;
    color: #1ca4ad;
}

.contact .skill-paragraph{
    text-align: center; 
}

.contact-button{
    margin-top: 3rem;
    padding: 10px 15px;
    background-color: #11c1c8;
    border-color: #11c1c8;
    color: white;
    border-radius: 3px;   
}

.contact-button:hover{
    background-color: #93bb81;
}

footer{
    background-color: #3aa6ad;
    width: 100%;
    min-height: 100px;   
}

.contenedor-pie{
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;/*centrado horizotal*/
    align-items: center;/*centrado vertical*/
    gap: 20px; /*separacion de elementos*/
    padding-top: 30px;
}

.contenedor-pie a{
    color: #246d83;
    font-size: 30px;
}

.copy-footer{
    text-align: center;
    color: #fff;   
    padding-top: 30px;
    padding-bottom: 30px;
}




